<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click) = "Favoritos()">
        <ion-icon name = "heart" style= "color: red"></ion-icon>
      </button>
     </ion-buttons> 
     <ion-buttons end>
      <button ion-button icon-only (click) = "Buscar()">
        <ion-icon name = "search"></ion-icon>
      </button>
     </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let consola of consolas" col-6>    
        <ion-card (click)= "VerConsola(consola)">
          <img *ngIf= "consola.ad.hasOwnProperty('thumbnail')"
          src = "https://img.segundamano.mx/cover/{{consola.ad.thumbnail.path}}">

          <img *ngIf= "!consola.ad.hasOwnProperty('thumbnail')"
          src = "../assets/imgs/logo.png">

          <h2 *ngIf= "consola.ad.hasOwnProperty('subject')"> Precio: {{consola.ad.subject}}</h2>
          <h2 *ngIf= "consola.ad.hasOwnProperty('locations')"> Ubicacion: {{consola.ad.locations[0].locations[0].label}} {{consola.ad.locations[0].label}} </h2>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
